/* Começo do cabeçalho */
body {
    margin: 0;
    background: #D2C1C1;
    font-family: monospace;
}



.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header{
    background: #AE4848;
}

.header .container{
    justify-content: space-between;
    
}

.header ul #aqui {
    font-weight: 800;
}

ul {
    color: white;
}

ul li a{
    color: white;
}

.titulo {
    /* width: 90px; */
    height: 90px;
}

.navBar {
    width: 300px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Fim do cabeçalho */

/* Inicio dos vetores */
.vetor1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
}
.vetor2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    
}
/* fim dos vetores */

/* Posicionando o cadastro */
.bgCad .contCad {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
}


/* Inicio dos imputs */
.contCad input{
    background: #F0E8EA;
    width: 260px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border-bottom: solid 1px #FF0066;
    border-top: none;
    border-right: none;
    border-left: none;
}
/* fim dos imputs */

.txtCad1{
    margin-right: 166px;
}
.txtCad2{
    margin-right: 218px;
}
.txtCad3{
    margin-right: 228px;
}
.txtCad4{
    margin-right: 207px;
}
.txtCad5{
    margin-right: 238px;
}

.btCad {
    border-radius: 5px;
    border: solid 1px black;
    width: 20%;
    height: 35px;
    background-color: #FB6D6D;
    color: white;
    border: none;
    box-shadow: 1px 5px 10px rgba(2, 2, 2, 0.418);
}

a{
    text-decoration: none;
    color: #e43b3b;
}

/* inicio do rodapé */
.footer {
    background-color: #AE4848;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
} 

  

.banner .container .card {
    background-color: beige;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
}

.card h1 {
    font-size: 30px;
}

.card h4 {
    font-size: 16px;
}

.card input {
    border: palevioletred solid 2px;
    padding: 10px;
    text-align: center;
}

.card button {
    width: 100px;
    height: 50px;
    background-color: palevioletred;
    margin-top: 25px;
    font: 700 20px monospace;
    border: 0;
    border-radius: 4px; 
    color: #fff;
    cursor: pointer;
}

#myFooter {
    background-color: rgb(150,28,28);
    color: white;
    padding-top: 30px;
    width: 100%;
}

#myFooter .footer-copyright {
    background-color: rgb(88, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
    display: flex;
}

.colunaLogo img{
    width: 200px;
    padding-top: 22px;
    padding-right: 15px;
}

.coluna {
    margin-right: 50px;
    margin-left: 50px;
}

.colunaSocial {
    margin-left: 90px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
}

#myFooter a:hover, #myFooter a:focus {
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 16px;
}

#myFooter .social-networks img {
    width: 30px;
    padding: 10px;
}

#myFooter .btn {
    color: rgb(88, 0, 0);
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
    cursor: pointer;
}

#myFooter .btn:hover {
    background-color: #d2d1d1;
} 
/* fim do rodapé */