/* Começo do cabeçalho */
body {
    margin: 0;
    background: #AE4848;
    font-family: monospace;
}



.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

.header ul #aqui {
    font-weight: 800;
}

ul {
    color: white;
}

ul li a{
    color: white;
}

.titulo {
    /* width: 90px; */
    height: 90px;
}

.navBar {
    width: 300px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Fim do cabeçalho */

/* Começo do Banner */

.banner {
    height: 500px;
    background-color: #D2C1C1;
    display: flex;
}

.banner .container {
    font-size: 22px;
    justify-content: center;
}

.banner .container p{
    width: 100%;
    font-weight: normal;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.btBanner {
    border-radius: 25px;
    width: 23%;
    height: 25%;
    background-color: #FB6D6D;
    color: white;

}
.btBanner2{
    margin-left: 20px;
    border-radius: 25px;
    width: 20%;
    height: 25%;
    background-color: transparent;
    color: white;

}

.vetor1 {
    /* width: 250px; */
    /* justify-content: right; */
    position: absolute;
    right: 0;
    /* top: 0; */
    bottom: 0;
    width: 200px;
    /* height: 400px; */
}
.vetor2 {
    position: absolute;
    right: 0;
    /* top: 0; */
    bottom: 0;
    width: 300px;
    /* width: 250px; */
    /* justify-content: right; */
}

/* Fim do banner */

/* Começo d Social */
.social  {
    background-image: linear-gradient(100deg,#813434,#EA8888);
    /* background-color: #813434; */
    height: 600px;
    display: flex;
}

.box img{
    width: 70%;
}

.social .container .boxes {
    display: flex;
}

.box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Final do Social */

/* Começo do Footer */

.footer {
    background-color: #AE4848;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
}

a {
    color: #e3b062;
    text-decoration: none;
}

.banner .container .card {
    background-color: beige;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
}

.card h1 {
    font-size: 30px;
}

.card h4 {
    font-size: 16px;
}

.card input {
    border: palevioletred solid 2px;
    padding: 10px;
    text-align: center;
}

.card button {
    width: 100px;
    height: 50px;
    background-color: palevioletred;
    margin-top: 25px;
    font: 700 20px monospace;
    border: 0;
    border-radius: 4px; 
    color: #fff;
    cursor: pointer;
}