/* Começo do cabeçalho */
body {
    margin: 0;
    background: #D2C1C1;
    background-repeat: no-repeat;
    width: 100%;
    font-family: monospace;
}

.bgLogin{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;

}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}


.header{
    background: #AE4848;
}

.header .container{
    justify-content: space-between;
    
}

.header ul #aqui {
    font-weight: 800;
}

ul {
    color: white;
}

ul li a{
    color: white;
}

.titulo {
    /* width: 90px; */
    height: 90px;
}

.navBar {
    width: 380px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Fim do cabeçalho */

.vetor1 {
    /* width: 250px; */
    /* justify-content: right; */
    position: absolute;
    right: 0;
    /* top: 0; */
    bottom: 0;
    width: 200px;
    /* height: 400px; */
}
.vetor2 {
    position: absolute;
    right: 0;
    /* top: 0; */
    bottom: 0;
    width: 300px;
    /* width: 250px; */
    /* justify-content: right; */
}

h1{
    color: #AE4848;
}

.card h1{
    color:white;
}

.dash {
  width: 75%;
  top: 0;
  left: 25%;
  background-color: #A52A2A;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #ff7043;
}

.perigo-quente {
  background-color: #5c6bc0;
}

.alerta-frio {
  background-color: #ffee58;
}

.alerta-quente {
  background-color: #42a5f5;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #FA8072;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}